/* Стили слогана на главном экране */
.slogan {
  font-family: 'Macherie', sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  margin-top: 6.5rem;
  margin-bottom: 7.5rem;
  padding-top: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.slogan span {
  display: inline-block;
  vertical-align: middle;
  color: var(--main-yellow);
  margin-left: -8rem;
  margin-right: -8rem;
}

.slogan:before,
.slogan:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.18rem;
  background-color: var(--main-yellow);
  position: relative;
  margin: -1.7rem;
}

@keyframes move-slogan-before {
  0% {
    left: -40%;
  }
  100% {
    left: 0;
  }
}

.slogan:before {
  margin-left: -100%;
  animation: move-slogan-before 1s ease forwards;
}

@keyframes move-slogan-after {
  0% {
    right: -40%;
  }
  100% {
    right: 0;
  }
}

.slogan:after {
  margin-right: -100%;
  animation: move-slogan-after 1s ease forwards;
}

.slogan .circle {
  height: 1rem;
  width: 1rem;
  background-color: var(--main-yellow);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

@keyframes move-slogan-circle-r {
  0% {
    left: 40%;
  }
  100% {
    left: 0;
  }
}

.slogan .circle.right {
  animation: move-slogan-circle-r 1s ease forwards;
}

@keyframes move-slogan-circle-l {
  0% {
    right: 40%;
  }
  100% {
    right: 0;
  }
}

.slogan .circle.left {
  animation: move-slogan-circle-l 1s ease forwards;
}

/* Стили игр на главном экране */
.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 6rem;
  align-items: center;
}

img.main {
  box-sizing: border-box;
  width: 100%;
  border: 0.7rem solid var(--main-pink);
  transition: border-radius 0.45s;
}

.game img.main:hover {
  border-color: transparent;
  transform: scale(1.1);
}

.description {
  display: grid;
  font-size: calc(12px + 12 * (100vw - 320px) / 2240);
  grid-template-rows: auto;
  box-sizing: border-box;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1.5rem;
  width: 100%;
  align-content: space-around
}

.description .text-description {
  display: flex;
  align-items: center;
  padding-bottom: 1%;
}

.game-name {
  display: flex;
  font-family: 'Macherie', sans-serif;
  font-size: 1.4em;
  margin-bottom: 2%;
  align-items: end
}

.game-name a {
  display: flex;
  text-decoration: none;
  color: var(--main-pink);
  align-items: end;
}

.game a.detailed {
  font-family: 'Circe Bold', sans-serif;
  font-size: 0.8em;
  color: var(--main-grey);
  width: 6em;
  height: 1.4em;
}

.price {
  font-family: 'Circe Bold', sans-serif;
  font-size: 1.5em;
  display: grid;
  max-width: 50%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.price .final {
  display: flex;
  font-size: 1.3em;
  color: var(--main-pink);
  margin-right: 0.3em;
}

.price .main {
  color: var(--main-grey);
  text-decoration: line-through;
  font-size: 0.9em;
  margin-right: 1em;
}

a.buy {
  text-decoration: none;
  color: #fff;
  width: 5.4em;
  height: 1.4em;
  background-color: var(--main-pink);
  border-radius: 2em;
  text-align: center;
  line-height: 1.4em;
}


@keyframes move-line-circle-right {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 7%;
  }
}

.line-circle-right {
  display: flex;
  margin-left: 7%;
  animation: move-line-circle-right 1s ease forwards;
}

.line-circle-right .circle {
  height: 0.8em;
  width: 0.8em;
  margin-right: -0.1em;
  background-color: var(--main-pink);
  border-radius: 50%;
}

.line-circle-right .line {
  height: 0.2em;
  width: 112%;
  margin-top: 0.30em;
  background-color: var(--main-pink);
  margin-right: -12%;
}

@keyframes move-line-circle-left {
  0% {
    margin-right: 100%;
  }
  100% {
    margin-right: 7.5%;
  }
}

.line-circle-left {
  display: none;
  margin-right: 7.5%;
  animation: move-line-circle-left 1s ease forwards;
}

.line-circle-left .circle {
  height: 0.8em;
  width: 0.8em;
  margin-left: -0.1em;
  background-color: var(--main-orange);
  border-radius: 50%;
}

.line-circle-left .line {
  height: 0.2em;
  width: 112.5%;
  margin-top: 0.30em;
  background-color: var(--main-orange);
  margin-left: -12.5%;
}
