* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Circe Bold';
  src: url('/static/fonts/circe-bold.woff2') format('woff2'),
       url('/static/fonts/circe-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe Light';
  src: url('/static/fonts/circe-light.woff2') format('woff2'),
       url('/static/fonts/circe-light.ttf') format('truetype');
}

header {
  font-family: 'Circe Bold', sans-serif;
}

footer {
  font-family: 'Circe Bold', sans-serif;
}

main {
  font-family: 'Circe Light', sans-serif;
}

/* Основные стили для меню */
.nav-menu {
  display: flex;
  height: 9vh;
  margin: auto;
  padding: 1vh;
  justify-content: space-between;
  align-items: center;
  border: 0.4vh solid #FF65B3;
  border-top: 0;
  border-radius: 0 0 5vh 5vh;
}

.nav-menu ul {
  list-style: none;
  display: inline-flex;
}

.nav-menu li a.user-menu {
  background-color: #FF65B3;
  color: #fff;
}

.nav-menu a:not(.logo-link) {
  font-size: 2.1vh;
  text-decoration: none;
  color: #FF65B3;
  display: block;
  padding: 0 1.5vh;
  border: 0.4vh solid #FF65B3;
  margin-right: 1vh;
  border-radius: 6.5vh;
  width: 13vh;
  height: 4vh;
  text-align: center;
  line-height: 4vh;
}

.nav-menu li a.active {
  background-color: #70efeb;
}

.logo {
  width: 20vh;
  height: auto;
  margin: auto;
  margin-left: 1vh;
  display: block;
}

.burger-menu {
  display: none;
}

.burger-menu ul {
  display: block;
}

.burger-menu li {
  margin: 8px;
}

.burger-menu .burger {
  margin: 1vh;
}

.bar {
  width: 11vh;
  height: 2vh;
  background-color: #FF65B3;
  margin: 0.4vh;
  border-radius: 5.5vh;
}

.burger-menu .burger-links {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 300px;
  width: 200px;
  background-color: #fff;
  border: 3px solid #FF65B3;
  border-right: 0;
  border-radius: 40px 0 0 40px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.burger-menu .burger-links a {
  border: 2px solid #FF65B3;
  width: 135px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.arrow {
  display: none;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 60px;
  margin-left: 70%;
  margin-top: -10%;
}

.arrow div {
  position: relative;
  top: 35px;
  width: 55px;
  height: 10px;
  background-color: #FF65B3;
  left:0;
  display: block;
  border-radius: 40px;
}

.arrow div::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 10px;
  top: -6px;
  right: -1px;
  background-color: #FF65B3;
  border-radius: 40px;
  transform: rotate(33deg);
}

.arrow div::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 10px;
  top: 6px;
  right: -1px;
  transform: rotate(-33deg);
  border-radius: 40px;
  background-color: #FF65B3;
}

.arrow:hover {
  animation: arrow 1.5s linear infinite;
}

@keyframes arrow {
  0% {
    left:0;
  }
  50% {
    left:10px;
  }
  100% {
    left:0;
  }
}

/* Основные стили для footer */
.main-footer {
  font-size: 3vh;
  color: #FF65B3;
  display: block;
  text-align: center;
}

/* Стили слогана на главном экране */
.slogan {
  overflow: hidden;
  text-align: center;
  font-size: 7.7vh;
}

.slogan span {
  font-family: 'Circe Bold', sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FCD72C;
}

.slogan:before,
.slogan:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.4vh;
  background-color: #FCD72C;
  position: relative;
  margin: -4vh;
}

.slogan:before {
  margin-left: -100%;
}

.slogan:after {
  margin-right: -100%;
}

.circle {
  height: 2.5vh;
  width: 2.5vh;
  background-color: #FCD72C;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* Стили игр на главном экране */
.games-list {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

.games-list .game {
  display: flex;
  padding-bottom: 6%;
  align-items: center;
  justify-content: space-between;
}


.games-list .game img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 10vh;
  display: block;
  border: 2.5vh solid #FF65B3;
  max-width: 50%;
}

.games-list .game .discription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 3%;
  text-align: left;
  font-size: 2.2vh;
}

.games-list .game .discription .text-discription {
  display: flex;
  margin-bottom: 2%;
}

.game-name {
  margin-bottom: 2%;
}

.game-name a {
  text-decoration: none;
}

/* Медиа-запрос для адаптивного дизайна и отображения/скрытия бургер-меню */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .games-list .game {
    flex-wrap: wrap;
    padding-right: 5%;
  }

  .games-list .game img {
    max-width: 100%;
  }

  .games-list .game .discription {
    width: 100%;
  }
}
