* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Circe Bold';
  src: url('/static/fonts/circe-bold.woff2') format('woff2'),
       url('/static/fonts/circe-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe Light';
  src: url('/static/fonts/circe-light.woff2') format('woff2'),
       url('/static/fonts/circe-light.ttf') format('truetype');
}

header {
  font-family: 'Circe Bold', sans-serif;
}

footer {
  font-family: 'Circe Bold', sans-serif;
}

main {
  font-family: 'Circe Light', sans-serif;
}

/* Основные стили для меню */
.nav-menu {
  font-size: 19px;
  display: flex;
  height: 80px;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #FF65B3;
  border-top: 0;
  border-radius: 0 0 40px 40px;
}

.nav-menu ul {
  list-style: none;
  display: inline-flex;
}

.nav-menu li a.user-menu {
  background-color: #FF65B3;
  color: #fff;
}

.nav-menu a:not(.logo-link) {
  text-decoration: none;
  color: #FF65B3;
  display: block;
  padding: 0 10px;
  border: 3px solid #FF65B3;
  margin-right: 10px;
  border-radius: 40px;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.nav-menu li a.active {
  background-color: #70efeb;
}

.logo {
  width: 150px;
  height: auto;
  margin: auto;
  margin-left: 5px;
  display: block;
}

.burger-menu {
  display: none;
}

.burger-menu ul {
  display: block;
}

.burger-menu li {
  margin: 5px;
}

.burger-menu .burger {
  margin: 10px;
}

.bar {
  width: 55px;
  height: 10px;
  background-color: #FF65B3;
  margin: 4px;
  border-radius: 40px;
}

.burger-menu .burger-links {
  display: none;
  position: absolute;
  top: 65px;
  right: 0;
  width: 150px;
  background-color: #fff;
  border: 3px solid #FF65B3;
  border-right: 0;
  border-radius: 40px 0 0 40px;
  align-items: center;
  justify-content: center;
}

.burger-menu .burger-links a {
  border: 2px solid #FF65B3;
  width: 90px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

/* Медиа-запрос для адаптивного дизайна и отображения/скрытия бургер-меню */
@media (max-width: 978px) {
  .menu {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}

/* Основные стили для footer */
.main-footer {
  font-size: 22px;
  color: #FF65B3;
  display: block;
  text-align: center;
}

/* Стили слогана на главном экране */
.slogan {
  overflow: hidden;
  text-align: center;
  font-size: 70px;
}

.slogan span {
  font-family: 'Circe Bold', sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #EA8C55;
}

.slogan:before,
.slogan:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 3px;
  background-color: #EA8C55;
  position: relative;
  margin: -20px;
}

.slogan:before {
  margin-left: -100%;
}

.slogan:after {
  margin-right: -100%;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: #EA8C55;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* Стили игр на главном экране */
.games-list {
  text-align: center;
}

.games-list .game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-list .game .img-home {
	width: 660px;
	height: 380px;
	background: #FF65B3;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.games-list .game .img-home img {
  border-radius: 30px;
  width: 640px;
	height: 360px;
  object-fit: cover;
  max-width: 96%;
}

.games-list .game .discription {
  width: 660px;
	height: 380px;
}
