@font-face {
  font-family: 'Macherie';
  src: url('/static/fonts/macherie.woff2') format('woff2'),
       url('/static/fonts/macherie.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe Bold';
  src: url('/static/fonts/circe-bold.woff2') format('woff2'),
       url('/static/fonts/circe-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe Light';
  src: url('/static/fonts/circe-light.woff2') format('woff2'),
       url('/static/fonts/circe-light.ttf') format('truetype');
}

html {
  font-size: 23px;
}

header {
  font-family: 'Circe Bold', sans-serif;
}

footer {
  font-family: 'Circe Bold', sans-serif;
}

main {
  font-family: 'Circe Light', sans-serif;
}

.adaptive {
  max-width: 2560px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
}

/* Основные стили для меню */
.nav-menu {
  display: flex;
  height: 4.7rem;
  justify-content: space-between;
  border: 3px solid #FF65B3;
  border-top: 0;
  border-radius: 0 0 2.35rem 2.35rem;
  align-items: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
}

.nav-menu ul {
  list-style: none;
  display: flex;
}

.nav-menu li a.user-menu {
  background-color: #FF65B3;
  color: #fff;
}

.nav-menu a:not(.logo-link) {
  font-size: 1.2rem;
  text-decoration: none;
  color: #FF65B3;
  display: block;
  width: 8rem;
  margin-left: 0.6rem;
  border: 0.2rem solid #FF65B3;
  border-radius: 2rem;
  text-align: center;
}

.nav-menu a.active {
  background-color: #70efeb;
}

.logo {
  width: 9rem;
}

.burger-menu {
  display: none;
}

.bar {
  width: 4rem;
  height: 0.8rem;
  background-color: #FF65B3;
  margin-bottom: 0.2rem;
  border-radius: 0.45rem;
}

.burger-menu .burger-links {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 21rem;
  width: 13rem;
  background-color: #fff;
  border: 3px solid #FF65B3;
  border-right: 0;
  border-radius: 40px 0 0 40px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.burger-menu .burger-links ul {
  flex-direction: column;
  padding: 0;
}

.burger-menu .burger-links a {
  text-decoration: none;
  border: 3px solid #FF65B3;
  width: 8.5rem;
  height: 2rem;
  margin-bottom: 0.6rem;
  margin-left: 0;
  line-height: 2rem;
}

.cross {
  display: none;
  cursor: pointer;
  margin: 2rem;
}

.cross div:before,
.cross div:after {
  content: '';
  position: absolute;
  width: 3.5rem;
  height: 0.9rem;
  border-radius: 0.45rem;
  background-color: #FF65B3;
}

.cross div:before {
  transform: rotate(45deg);
}
.cross div:after {
  transform: rotate(-45deg);
}

/* Основные стили для footer */
.main-footer {
  color: #FF65B3;
}

/* Стили слогана на главном экране */
.slogan {
  font-family: 'Macherie', sans-serif;
  text-align: center;
  font-size: 5rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding-top: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.slogan span {
  display: inline-block;
  vertical-align: middle;
  color: #FCD72C;
  margin-left: -8rem;
  margin-right: -8rem;
}

.slogan:before,
.slogan:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.18rem;
  background-color: #FCD72C;
  position: relative;
  margin: -1.7rem;
}

.slogan:before {
  margin-left: -100%;
}

.slogan:after {
  margin-right: -100%;
}


.circle {
  height: 1rem;
  width: 1rem;
  background-color: #FCD72C;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* Стили игр на главном экране */
.content {
  display: grid;
  grid-template-columns: 0.9fr;
  justify-content: center;
}

.content .game {
}

.content .game img {
  flex-shrink: 0;
  display: block;
  border: 2vh solid #FF65B3;
  max-width: 50%;
}

.content .game .description {
  width: 50%;
  text-align: left;
}

.content .game .description .text-description {
  overflow: hidden;
}


.game-name {
  font-family: 'Macherie', sans-serif;
  margin-bottom: 2%;
}

.game-name a {
  text-decoration: none;
}

/* Медиа-запрос для адаптивного дизайна и отображения/скрытия бургер-меню */
@media (max-width: 2560px) {
  html {
    font-size: 20px;
  }

  .adaptive {
    width: 100%;
  }
}

@media (max-width: 2000px) {
  html {
    font-size: 19px;
  }

  .slogan {
    font-size: 4.5rem;
  }

  .slogan span {
    margin-left: -7.5rem;
    margin-right: -7.5rem;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 18px;
  }

  .slogan {
    font-size: 3.9rem;
  }

  .slogan span {
    margin-left: -6.5rem;
    margin-right: -6.5rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 17px;
  }

  .slogan {
    font-size: 3.6rem;
  }

  .slogan span {
    margin-left: -6rem;
    margin-right: -6rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }

  .slogan {
    font-size: 3rem;
  }

  .slogan span {
    margin-left: -5rem;
    margin-right: -5rem;
  }

  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .slogan {
    font-size: 2.3rem;
  }

  .slogan .circle {
    margin: 1rem;
    height: 0.85rem;
    width: 0.85rem;
  }

  .slogan span {
    margin-left: -5rem;
    margin-right: -5rem;
  }
}

@media (max-width: 580px) {
  .slogan {
    font-size: 2rem;
  }

  .slogan span {
    margin-left: -4rem;
    margin-right: -4rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .slogan {
    font-size: 1.25rem;
  }

  .slogan:before,
  .slogan:after {
    display: none;
  }


  .slogan .circle {
    display: none;
  }
}
