{% extends "base.html" %}

{% block title %}
  Вход
{% endblock %}

{% block content %}
  <script type="module" src="/static/js/registration/login.js" defer></script>
  <div class="content">
    <div class="login">
      <div class="title">Войди и раскрой тайны игр</div>
      <form class="main" method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% include "includes/custom_form.html" %}
          <a class="forgot-pass" href="{% url 'password_reset' %}">Забыли пароль?</a>
          <div class="buttons">
            <button class="log-button-style" type="submit">Вход</button>
            <button  id="registration-button" class="log-button-style" data-url="{% url 'registration' %}" type="submit">
              Регистрация
            </button>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
