{% extends "base.html" %}

{% block content %}
  <div class="">
    <div class="">
      <div class="">
        Письмо с инструкциями по восстановлению пароля отправлено
      </div>
      <div class="">
        <p class="">
          Мы отправили вам инструкцию по установке нового пароля
          на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
          Вы должны получить ее в ближайшее время.
        </p>
        <p class="">
          Если вы не получили письмо, пожалуйста,
          убедитесь, что вы ввели адрес с которым вы зарегистрировались,
          и проверьте папку со спамом.
        </p>
        <p class=""><a class="" href="{% url 'games:home' %}">На главную</a></p>
      </div>
    </div>
  </div>
{% endblock %}