<div class="left">
  <div class="line-circle-left">
    <div class="line"></div><div class="circle"></div>
  </div>
  <div class="scroll-img">
    <img class="main main-detail" src="{{ object.cover.url }}">
    {% if object.admin_files.all %}
      <div class="scroll">
        <div class="scroll-arrow left-arrow" id="scroll-left">
          <div></div>
        </div>
        <div class="box-img" id="box-img">
          <img src="{{ object.cover.url }}">
          {% for users_file in object.admin_files.all %}
            <img src="{{ users_file.file.url }}">
          {% endfor %}
        </div>
        <div class="scroll-arrow right-arrow" id="scroll-right">
          <div></div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
