{% extends "base.html" %}
{% load static %}

{% block title %}
  Главная страница
{% endblock %}

{% block content %}
  <script type="module" src="/static/js/games/game_list.js" defer></script>
  <div class="slogan">
    <div class="circle left"></div>
    <span>
      Загадки и друзья:<br>
      рецепт идеального вечера
    </span>
    <div class="circle right"></div>
  </div>
  <div class="content">
    {% for game in game_list %}
      <div class="game">
        <img class="main" src="{{ game.cover.url }}" hover-src="{{ game.hover_cover.url }}">
        <div class="description">
          <div class="game-name">
            <a href="{% url 'games:detail' game.slug %}">
              {{ game.name }}
            </a>
          </div>
          <div id="text-description" class="text-description">
            {{ game.description|safe }}
          </div>
          <a class="detailed" href="{% url 'games:detail' game.slug %}">
            Подробнее...
          </a>
          <div class="price">
            <div class="final">
              {{ game.final_price }}&nbsp;<b>₽</b>
            </div>
            <div class="main">
              {{ game.price }}
            </div>
            {% include "includes/buttom_buy.html" %}
          </div>
          <div class="line-circle-right">
            <div class="circle"></div><div class="line"></div>
          </div>
          <div class="line-circle-left">
            <div class="line"></div><div class="circle"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
