{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block content %}
  <script type="module" src="/static/js/games/scroll.js" defer></script>
  <div class="content">
    <div class="game-detail">
      {% include "games/includes/left_game_detail.html" %}
      <div class="description">
        <div class="game-name">
          <a class="name-detail" href="{% url 'games:detail' game.slug %}">
            {{ object.name }}
          </a>
        </div>
        <div class="price">
          <div class="final">
            {{ object.final_price }}&nbsp;<b>₽</b>
          </div>
          <div class="main">
            {{ object.price }}
          </div>
          {% include "includes/buttom_buy.html" %}
        </div>
        <div id="text-description" class="text-description">
          {{ object.description|safe }}
        </div>
        {% include "games/includes/param_game.html" %}
      </div>
    </div>
{% endblock %}
