{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ game.name }}
{% endblock %}

{% block content %}
    <div>
      <div>
          <img src="{{ game.cover.url }}">
      </div>
      <div>
        Назвние игры: {{ game.name }}<br>
        Жанр: {{ game.genre.name }}<br>
        Описание: {{ game.description }}<br>
        Игроков:
        {% if game.min_players ==  game.max_players %}
          {{ game.max_players }}
        {% else %}
          {{ game.min_players }}-{{ game.max_players }}
        {% endif %}<br>
        Цена: {{ game.price }}<br>
        Скидка: {{ game.discount }}<br>
        Окончательная цена: {{ game.final_price }}<br>
      </div>
    </div>
{% endblock %}
