{% extends "base.html" %}
{% load static %}

{% block title %}
  Главная страница
{% endblock %}

{% block content %}
  <div class="slogan">
    <div class="circle"></div>
    <span>
      Загадки и друзья:<br>
      рецепт идеального вечера
    </span>
    <div class="circle"></div>
  </div>
  <div class="games-list">
  {% for game in game_list %}
    <div class="game">
      <div class="img-home">
          <img src="{{ game.cover.url }}">
      </div>
      <div class="discription">
        Назвние игры: 
        <a href="{% url 'games:detail' game.slug %}">
          {{ game.name }}
        </a><br>
        Жанр: {{ game.genre.name }}<br>
        Описание: {{ game.discription }}<br>
        Игроков:
        {% if game.min_players ==  game.max_players %}
          {{ game.max_players }}
        {% else %}
          {{ game.min_players }}-{{ game.max_players }}
        {% endif %}<br>
        Цена: {{ game.price }}<br>
        Скидка: {{ game.discount }}<br>
        Окончательная цена: {{ game.final_price }}<br>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
