<!doctype html>
{% load static %}

<html lang="ru">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/games/game_detail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
		<link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="/static/js/main.js"></script>
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>

  <body class="adaptive">
    {% include "includes/header.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>
