<!doctype html>
{% load static %}

<html lang="ru">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="/static/js/main.js"></script>
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>

  <body>
    <div class="adaptive">
      {% include "includes/header.html" %}
      <main>
          {% block content %}{% endblock %}
      </main>
      {% include "includes/footer.html" %}
    </div>
  </body>
</html>
