{% load static %}

<header>
  <script type="module" src="/static/js/includes/header.js" defer></script>
  <nav class="nav-menu">
    <a href="{% url 'games:home' %}" class="logo-link">
      <img src="{% static 'img/logo.png' %}" alt="GAME DI" class="logo">
    </a>
    <div class="menu">
      <ul>
        {% include "includes/menu.html" %}
      </ul>
    </div>
    <div class="burger-menu">
      <div id="burger" class="burger">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div id="burger-links" class="burger-links">
        <div id="cross" class="cross">
          <div></div>
        </div>
        <ul>
          {% include "includes/menu.html" %}
        </ul>
      </div>
    </div>
  </nav>
</header>