{% load static %}

<header>
  <script src="/static/js/includes/header.js" defer></script>
  <nav class="nav-menu" >
    <a href="{% url 'games:home' %}" class="logo-link">
      <img src="{% static 'img/logo.png' %}" alt="GAME DI" class="logo">
    </a>
    <ul>
      <li><a href="{% url 'games:home' %}">Главная</a></li>
      <li><a href="{% url 'pages:rules' %}">Правила</a></li>
      <li><a href="{% url 'pages:about' %}">О нас</a></li>
      {% if request.user.is_authenticated  %}
        <li><a class="user-menu"href="{% url 'users:profile' request.user.username %}">Профиль</a></li>
        <li><a class="user-menu" href="{% url 'logout' %}">Выйти</a></li>
      {% else %}
        <li><a class="user-menu" href="{% url 'login' %}">Вход</a></li>
        <li><a class="user-menu" href="{% url 'registration' %}">Регистрация</a></li>
      {% endif %}
    </ul>
  </nav>
</header>