{% extends "base.html" %}

{% block content %}
  <script type="module" src="/static/js/registration/reset_pass.js" defer></script>
  <div class="content">
    <div class="login">
      <div class="title">
        Восстановление пароля
      </div>
      <form class="main" method="post">
        {% csrf_token %}
        {% include "includes/custom_form.html" %}
        <button class="log-button-style button-reset-confirm" type="submit">Поменять пароль</button>
      </form>
    </div>
  </div>
{% endblock %}