{% extends "base.html" %}

{% block content %}
  <script type="module" src="/static/js/registration/reset_pass.js" defer></script>
  <div class="content">
    <div class="login reset">
      <div class="title">
        Отправить письмо для сброса<br>пароля
      </div>
      <form class="main reset" method="post">
        {% csrf_token %}
        {% include "includes/custom_form.html" %}
        <button class="log-button-style" type="submit">Отправить письмо</button>
      </form>
    </div>
  </div>
{% endblock %}